<h4 style="text-align: center">编辑课程</h4>
<form action="/edit/{{abouts._id}}?_method=PUT" method="post"  style="margin: auto;width: 80%">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
        <label for="exampleFormControlInput1">课程获取邮箱：</label>
        <input type="email" class="form-control" name="email" value="{{abouts.email}}" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">选择课程：</label>
        <select name="selectA" class="form-control" value="{{abouts.selectA}}" required id="exampleFormControlSelect1">
            <option>node.js</option>
            <option>vue.js</option>
            <option>react.js</option>
            <option>angle.js</option>
            <option>mongon</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">课程说明：</label>
        <textarea class="form-control" name="text" required id="exampleFormControlTextarea1" rows="3">{{abouts.text}}</textarea>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
</form>